{
  "semi": true,
  "tabWidth": 1,
  "useTabs": true,
  "printWidth": 100,
  "singleQuote": false,
  "trailingComma": "none",
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxBracketSameLine": false
}
