@import "../../styles/Colors.scss";
@import "../../styles/fonts";
@import "../../styles/breakpoints";

a {
  text-decoration: none;
}

.services_container {
  height: auto;
  background-color: $bg-off;

  .services_title_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 6rem;
    padding-bottom: 0rem;
    @include tablet {
      padding: 1.5rem;
    }
    @include landscape {
      padding: 1rem 2.5rem;
    }
    .services_header {
      font-family: $Nunito;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.065em;
      text-transform: uppercase;
      margin: 0;
      color: $footer;
      @include landscape {
        font-size: 16px;
        line-height: 22px;
      }
    }
    .services_title {
      font-family: $SoraBold;
      font-style: normal;
      font-weight: 600;
      margin: 0;
      font-size: 40px;
      line-height: 50px;
      color: #333333;
      @include tablet {
        font-size: 24px;
        line-height: 30px;
      }
      @include landscape {
        font-size: 30px;
        line-height: 40px;
      }
      span {
        color: $links;
      }
    }
  }
  .services_content_wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    @include tablet {
      flex-direction: column;
      margin-top: 0;
      padding: 1rem;
      gap: 24px;
    }
    @include landscape {
      margin-top: 30px;
      flex-wrap: wrap;
      justify-content: center;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    }

    .services_content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2rem;
      border: 1px solid #d9d9d9;

      @include landscape {
        width: 40%;
      }
      @include tablet {
        padding: 1rem;
        width: auto;
      }
<<<<<<< Updated upstream
=======
      .arrow_link {
        color: white;
        font-size: 2.5rem;
        font-weight: 100;
        display: none;
      }
>>>>>>> Stashed changes
      .title {
        font-family: $Sora;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #5a5a5a;
        margin-bottom: 65px;
      }
      .box1,
      .box2,
      .box3,
      .box4 {
        width: 96px;
        height: 96px;
        object-fit: contain;
        background-repeat: no-repeat;
      }
      .box1 {
        background-image: url("../../assets/images/Construction\ helmet\ icon.svg");
      }

      .box2 {
        background-image: url("../../assets/images/Couch\ icon.svg");
      }
      .box3 {
        background-image: url("../../assets/images/Building\ icon.svg");
      }
      .box4 {
        background-image: url("../../assets/images/Desk\ icon.svg");
      }

      .desc {
        font-family: $Nunito;
        margin-top: 16px;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: #666666;
      }
    }
  }
}
.services_content:hover {
  background-color: black;
  .title,
  .desc {
    color: white !important;
  }
  .arrow_link {
    display: block !important;
  }
  .box1 {
    background-image: url("../../assets/images/Construction\ helmet\ icon\ yellow.svg") !important;
  }
  .box2 {
    background-image: url("../../assets/images/Couch\ icon\ yellow.svg") !important;
  }
  .box3 {
    background-image: url("../../assets/images/Building\ icon\ yellow.svg") !important;
  }
  .box4 {
    background-image: url("../../assets/images/Desk\ icon\ yellow.svg") !important;
  }
}
