$background-offWhite: #dedede;
$bg-off: #f7f7f7;
$Black: black;
$Black-light: #000015;
$White: white;
$Contact-btn: #ff8900;
$footer: #333333;
$Svg-color: #b6b6b6;
$Base-color-light: #f1c39a;
$Base-color: #ff8900;
$links: #ff8900;
$text-heading: #333333;
$text-body: #1a1a1a;
$navbar-background: #373737;
$linksInactive: #afafaf;
