@import '../../Colors.scss';

.contact_container {
    height: auto;
    background-color: $bg-off;
    padding: 112px 99px 112px 99px;
}

.contact_wrapper {
    display: flex;
    flex-direction: row;
    gap: 122px;
    justify-content: space-between;
}

.contact_left {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.content_heading {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: left;

    > img {
        width: 4px;
        height: 33px;
    }

    > h1 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: #717171;

    }
}

.contact_title {
    
    > h1 {
        margin: 0px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 36px;
        line-height: 49px;
        color: #333333;

        > span {
            color: $links;
        }
    }
}

.content_body {
    display: flex;
    flex-direction: column;
    gap: 52px;
}

.contact_group {
    display: flex;
    flex-direction: row;
    gap: 16px;

    > img {
        width: 49px;
        height: 45px;
    }

    > h2 {
        margin: 0px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: #1A1A1A;
    }
}

.contact_right {
    width: 40%;
}

.contact_form {
    display: flex;
    flex-direction: column;
}

.form_control {
    display: block;
    padding: 1rem 1rem;
    border: 1px black solid;
    margin-bottom: 0.5rem;
    background: $White;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #B8B8B8;
}

.form_control:focus-within {
    outline: transparent;
}
.form_label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #1A1A1A;
}

.contact_btn {
    text-transform: capitalize;
    background: $Contact-btn;
    color: $White;
    padding: 1rem 1.5rem;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 700;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 1.2rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.contact_btn:hover {
    background-color: $Base-color;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    .contact_container {
        padding: 112px 16px 112px 16px;
    }

    .contact_wrapper {
        flex-direction: column;
        gap: 56px;
    }

    .contact_left {
        gap: 16px;
    }

    .content_heading {

        > h1 {
            font-size: 24px;
            line-height: 33px;
        }
    }

    .contact_title {
        
        > h1 {
            font-size: 32px;
            line-height: 44px;
        }
    }

    .content_body {
        gap: 16px;
    }

    .contact_group {

        > img {
            width: 49px;
            height: 45px;
        }

        > h2 {
            font-size: 18px;
            line-height: 150%;
        }
    }

    .contact_right {
        width: 100%;
    }
}