@import "../../styles/Colors.scss";
@import "../../styles/fonts";
@import "../../styles/breakpoints";
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap");

.home_container {
  height: auto;
  background-color: $bg-off;
  padding: 112px 70px;
  background-image: url("../../assets/images/BG\ Color\ Gradient\(1\).png");
  @include tablet {
    padding: 4rem 1rem;
    background-image: url("../../assets/images/BG\ Color\ Gradient.png");
  }
  @include landscape {
    padding: 4rem 2rem;
  }
  .home_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .home_textbox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 16px;
      vertical-align: middle;
      @include tablet {
        margin-left: 0;
      }
      .wrapper {
        display: flex;
        align-items: baseline;

        @include landscape {
          align-items: center;
        }
        h1 {
          font-family: $SoraBold;
          font-style: normal;
          font-weight: 700;
          font-size: 5rem;
          letter-spacing: normal;
          line-height: 105.4%;
          color: #333333;
          @include tablet {
            font-weight: 800;
            font-size: 33px;
            line-height: 49px;
          }
          @include landscape {
            font-size: 2rem;
          }
        }
        .hero {
          display: inline-block;
          vertical-align: baseline;
          @include tablet {
            width: 70px;
            height: 30px;
          }
        }
      }

      .links {
        display: flex;
        gap: 0 2rem;
        align-items: center;
        @include tablet {
          gap: 0 1rem;
        }

        .home_btn {
          text-transform: uppercase;
          background: $Contact-btn;
          color: $Black;
          width: fit-content;
          border-radius: 35px;
          padding: 18px 32px;
          letter-spacing: 2px;
          display: inline-block;
          font-weight: 700;
          font-size: 1.1rem;
          border: none;
          cursor: pointer;
          @include tablet {
            padding: 18px 15px;
            font-size: 16px;
          }

          :hover {
            background-color: $Base-color-light;
            cursor: pointer;
          }
        }
        .learn {
          > a {
            font-family: $Nunito;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            color: #ff8900;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            cursor: pointer;
          }
        }
      }
    }
  }
}
