@import "../../Colors.scss";
.nav__component {
  position: fixed;
  display: flex;
  width: -webkit-fill-available;
  z-index: 5;
  top: 0%;
  height: 30px;
  justify-content: space-between;
  padding: 20px 55px;
  align-items: center;
  background-color: transparent;

  font-weight: 500;
  line-height: 23px;
  transition: all 0.3s ease-in-out;
  font-family: "Manrope", sans-serif;
}
.colorChange {
  background-color: $bg-off;
  box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
}

.nav__header {
  display: flex;
  align-items: center;
  width: 40%;
  margin-left: 3%;

  .nav_title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #333333;

    > span {
        background: -webkit-linear-gradient(180deg, #FF8900 0%, #FFF500 48.44%, rgba(255, 137, 0, 0.978495) 100%);        
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
  }
}


.companyName {
  color: $Black;
}

.links__content {
  margin-right: 2%;
}

.links {
  text-decoration: none;
  width: 80%;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;

  font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #1A1A1A;
}

.selected {
  font-weight: bold;
}
.Contact-Link {
  border: 2px solid $Contact-btn;
  background-color: none;
  color: #FF8900;
  padding: 7px 13px;
  font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #FF8900;
}

a:hover {
  font-weight: bold;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .nav__header {
    width: auto;
  }
  .nav__component {
    padding: 20px;
  }
}
@media screen and (max-width: 768px) {
  .nav__component {
    padding: 1rem 0.5rem;
  }
  .nav__header {
    display: flex;
    align-items: center;
    width: 60%;
    margin-left: 3%;
  }
}