@import "../../styles/Colors.scss";
@import "../../styles/fonts";
@import "../../styles/breakpoints";
a:hover {
  font-weight: bold;
}

.nav_component {
  position: fixed;
  display: flex;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  justify-content: space-between;
  padding: 20px 55px;
  align-items: center;
  background-color: transparent;
  font-weight: 500;
  line-height: 23px;
  transition: all 0.3s ease-in-out;
  font-family: Nunito Sans, sans-serif;
  @include landscape {
    padding: 15px;
  }
  @include tablet {
    padding: 1rem 0.5rem;
    background-color: #262626 !important;
  }
  .nav_header {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 3%;
    @include landscape {
      margin-left: 0;
    }

    .nav_title {
      font-family: Nunito Sans-Bold, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: #333333;
      @include tablet {
        color: $White;
      }
      span {
        background: -webkit-linear-gradient(
          180deg,
          #ff8900 0%,
          #fff500 48.44%,
          rgba(255, 137, 0, 0.978495) 100%
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  .links_content {
    margin-right: 2%;
    flex: 3;
    display: flex;
    justify-content: space-around;
    @include landscape {
      margin-right: 0;
    }
    .center {
      display: flex;
      justify-content: space-between;
    }
    .links {
      text-decoration: none;
      font-family: Nunito Sans-Light, sans-serif;
      padding: 10px;
      margin-right: 20px;
      cursor: pointer;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: $linksInactive;
      .active {
        font-weight: bold;
        color: $text-heading;
      }
    }

    .Contact_Link {
      border: 2px solid $Contact-btn;
      background-color: transparent;
      border-radius: 35px;
      padding: 12px 24px;
      font-family: Nunito Sans-Bold, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: #ff8900 !important;
      @include landscape {
        padding: 8px 16px;
        align-self: center;
      }
    }
    .active {
      font-weight: bold;
      color: $text-heading;
    }
  }
}
.colorChange {
  background-color: $bg-off;
  box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
}
