@import "../../styles/Colors.scss";
@import "../../styles/fonts";
@import "../../styles/breakpoints";

.hero_container {
  height: auto;
  background-color: $bg-off;
  padding: 6rem;
  @include tablet {
    padding: 1.5rem;
  }
  @include landscape {
    padding: 2.5rem;
  }
  .hero_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 140px;
    @include tablet {
      flex-direction: column;
      gap: 70px;
    }
    @include landscape {
      gap: 30px;
    }

    .hero_left_content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      flex: 1;

      .hero_header {
        font-family: $Nunito;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.065em;
        text-transform: uppercase;
        margin: 0;
        color: $footer;
        @include landscape {
          font-size: 16px;
          line-height: 22px;
        }
      }
      .hero_title {
        font-family: $SoraBold;
        font-style: normal;
        font-weight: 600;
        margin: 0;
        font-size: 40px;
        line-height: 50px;
        color: #333333;
        @include tablet {
          font-size: 24px;
          line-height: 30px;
        }
        @include landscape {
          font-size: 30px;
          line-height: 40px;
        }
        span {
          color: $links;
        }
      }
      .hero_body {
        p {
          font-family: $Nunito;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          text-align: justify;
          color: #666666;
          .dot {
            padding: 8px;
            display: inline-block;
            vertical-align: middle;
            background: #ff8900;
          }
          @include tablet {
            font-size: 18px;
            line-height: 150%;
          }
        }
      }
    }
    .hero_right_content {
      flex: 1;
      .wrapper {
        width: 445px;
        height: 570px;
        position: relative;
        img {
          width: 100%;
        }
        @include landscape {
          width: 100%;
          height: 100%;
        }
        .Badge {
          width: 64px;
          padding: 14px 24px;
          right: -66px;
          background: #191919;
          border-radius: 35px;
          position: absolute;
          font-family: $SoraBold;
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 40px;
          text-align: center;
          color: #fafafa;
          @include tablet {
            right: -15px;
          }
          @include landscape {
            right: -30px;
          }
          span {
            font-family: $Sora;
            display: block;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
          }
        }
        :first-child {
          top: 96px;
        }
        :nth-child(2) {
          top: 188px;
        }
        :nth-child(3) {
          top: 280px;
        }
      }
    }
  }
}
