$background-offWhite: #dedede;
$bg-off: #f7f7f7;
$Black: black;
$Black-light: #000015;
$White: white;
$Contact-btn: #FF8900;
$footer: #333333;
$Svg-color: #b6b6b6;
$Base-color-light: #f1c39a;
$Base-color: #FF8900;
$links: #FF8900;
$text-heading: #333333;
$text-body: #1A1A1A;

